@font-face {
    font-family: branch;
    src: url(fonts/Branch.otf);
}

@font-face {
    font-family: montlight;
    src: url(fonts/Mont-Light.otf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #E9F1F7;
}

.box{
    width: 400px;
    height: 450px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #393b44;
    font-family: montlight;
    text-align: center;
}

.box h1{
    font-family: branch;
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
}

.box p{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 70px auto;
}

.box p a{
    text-decoration:none;
    color: white;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    color: white;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid rgb(255,213,113);
    padding: 14px 10px;
    width: 300px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: rgb(255,213,113);
    color: white;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(255,213,113);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    color: black;
    background: rgb(255,213,113);
    box-shadow: 0 0 10px rgb(255,213,113), 0 0 30px rgb(6,84,70);
    transition-delay: 0s;
}