{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- {% for i in object %}
        <div>{{ i.isbn }}</div>
        <div>{{ i.title }}</div>
        <div>{{ i.author }}</div>
        <div>{{ i.genre }}</div>
        <div>{{ i.description }}</div>
        <div>{{ i.price }}</div>
        <div><img src = "{{ i.img.url }}" /></div>
    {% endfor %} -->

    <!-- <div>{{ object.title }}</div>
    <div>{{ object.description }}</div>
    <div><img src = "{{ object.img.url }}"/></div> -->

{% endblock %}